<h1>Welcome to Weeglo store</h1>
<p>All Items List</p>

<div class="row">
    <% @products.each do |product| %>
    <div class="col-md-4">
        <div class="well center-it">
        <p>
        <% if product.image_file_name != nil %>
        <%= image_tag product.image.url(:thumb), class: "img-responsive" %>
        <% end %>
        </p>
        <p><%= link_to product.name, product %></p>
        <p><%= number_to_currency product.price %></p>
        <p>
            <a href="#"><span class="glyphicon glyphicon-plus">Quick Info</span></a>    
        </p>
        </div>
    </div>
    <% end %>
</div>


